* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6e2f0;
  font-family: "Outfit";
  font-size: 15px;
  height: 100vh;
}

.qrcode-container {
  width: 540px;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img {
  width: 300;
  height: 300;
  border-radius: 20px;
}
.qrcode-image {
  margin-top: 15px;
  margin-bottom: 10px;
}
.qrcode-title {
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
  margin-left: 50px;
  margin-right: 50px;
}

.qrcode-text {
  color: hsl(220, 15%, 55%);
  text-align: center;
  margin-bottom: 80px;
  font-size: 26px;
  margin-left: 72px;
  margin-right: 72px;
}
